<button 
  class="btn btn-primary" 
  (click)="btnToggle()">Display Details
</button>

<div class="pPlace">
  <p *ngIf="disablePar">
    Cupcake ipsum dolor sit amet chocolate cake cake. Candy canes tiramisu I love powder toffee icing donut brownie topping. Candy dessert sweet roll jelly-o apple pie chupa chups pudding. Lemon drops bonbon chupa chups jelly beans soufflé I love I love I love. Muffin I love lollipop. Wafer chocolate cake pastry. Jelly beans topping bear claw caramels dessert biscuit macaroon. Sweet roll croissant jelly-o fruitcake cheesecake candy canes pastry caramels.
  </p>
</div>

<ul>
  <li 
    *ngFor = "let log of btnLog; let i = index" 
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'rgba(0,0,0,0)'}"
    [ngClass]="{styled: i >= 4}">{{ log }}</li>
</ul>

